{
  "env": {
    "node": true,
    "mocha": true
  },
  "plugins": [
    "node",
    "mocha"
  ],
  "rules": {
    "mocha/handle-done-callback": "error",
    "mocha/no-exclusive-tests": "error",
    "mocha/no-hooks-for-single-case": "error",
    "mocha/no-identical-title": "error",
    "mocha/no-pending-tests": "error",
    "mocha/no-return-and-callback": "error",
    "mocha/no-skipped-tests": "error",
    "node/no-unsupported-features": "off",
    "node/no-extraneous-require": "error",
    "node/no-missing-require": "error",
    "node/no-unpublished-bin": "error",
    "node/process-exit-as-throw": "error",
    "node/shebang": "error",
    "node/no-unpublished-require": ["error", {
      "allowModules": ["dotenv"]
    }]
  }
}
